@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwindcss-animate';

@plugin '../..//hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.003 47.42790133389216);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.003 47.42790133389216);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.003 47.42790133389216);
  --primary: oklch(0.675 0.18 42.442976713342475);
  --primary-foreground: oklch(0.962 0.002 46.83196829780543);
  --secondary: oklch(0.961 0.005 46.792848131815504);
  --secondary-foreground: oklch(0.215 0.016 46.14763649137386);
  --muted: oklch(0.961 0.005 46.792848131815504);
  --muted-foreground: oklch(0.555 0.069 45.71286339923261);
  --accent: oklch(0.881 0.037 46.42879298039679);
  --accent-foreground: oklch(0.217 0.036 45.25656710140284);
  --destructive: oklch(0.58 0.237 28.43022926835137);
  --border: oklch(0.883 0.017 46.64990098676091);
  --input: oklch(0.883 0.017 46.64990098676091);
  --ring: oklch(0.675 0.18 42.442976713342475);
  --chart-1: oklch(0.675 0.18 42.442976713342475);
  --chart-2: oklch(0.766 0.099 45.663171108674085);
  --chart-3: oklch(0.842 0.05 46.27586594178606);
  --chart-4: oklch(0.557 0.171 39.75619461466766);
  --chart-5: oklch(0.449 0.13 41.065765644897155);
  --sidebar: oklch(0.961 0.005 46.792848131815504);
  --sidebar-foreground: oklch(0.215 0.016 46.14763649137386);
  --sidebar-primary: oklch(0.675 0.18 42.442976713342475);
  --sidebar-primary-foreground: oklch(0.962 0.002 46.83196829780543);
  --sidebar-accent: oklch(0.881 0.037 46.42879298039679);
  --sidebar-accent-foreground: oklch(0.217 0.036 45.25656710140284);
  --sidebar-border: oklch(0.883 0.017 46.64990098676091);
  --sidebar-ring: oklch(0.675 0.18 42.442976713342475);
}

.dark {
  --background: oklch(0.215 0.019 46.02134859557747);
  --foreground: oklch(0.962 0.002 46.83196829780543);
  --card: oklch(0.258 0.026 45.9341250270763);
  --card-foreground: oklch(0.962 0.002 46.83196829780543);
  --popover: oklch(0.258 0.026 45.9341250270763);
  --popover-foreground: oklch(0.962 0.002 46.83196829780543);
  --primary: oklch(0.697 0.144 44.49486674361442);
  --primary-foreground: oklch(0.962 0.002 46.83196829780543);
  --secondary: oklch(0.32 0.029 46.01134797231506);
  --secondary-foreground: oklch(0.961 0.005 46.792848131815504);
  --muted: oklch(0.32 0.029 46.01134797231506);
  --muted-foreground: oklch(0.722 0.025 46.5001936825452);
  --accent: oklch(0.476 0.101 44.33676009174283);
  --accent-foreground: oklch(0.96 0.012 46.7177542538322);
  --destructive: oklch(0.529 0.195 27.156747692001183);
  --border: oklch(0.418 0.05 45.774205275861604);
  --input: oklch(0.418 0.05 45.774205275861604);
  --ring: oklch(0.697 0.144 44.49486674361442);
  --chart-1: oklch(0.697 0.144 44.49486674361442);
  --chart-2: oklch(0.768 0.113 45.4658501985983);
  --chart-3: oklch(0.843 0.078 46.00044351644972);
  --chart-4: oklch(0.578 0.144 43.1766124326641);
  --chart-5: oklch(0.476 0.101 44.33676009174283);
  --sidebar: oklch(0.341 0.038 45.83232078186554);
  --sidebar-foreground: oklch(0.962 0.002 46.83196829780543);
  --sidebar-primary: oklch(0.697 0.144 44.49486674361442);
  --sidebar-primary-foreground: oklch(0.962 0.002 46.83196829780543);
  --sidebar-accent: oklch(0.476 0.101 44.33676009174283);
  --sidebar-accent-foreground: oklch(0.96 0.012 46.7177542538322);
  --sidebar-border: oklch(0.418 0.05 45.774205275861604);
  --sidebar-ring: oklch(0.697 0.144 44.49486674361442);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
